.myNav{
  font-size: 30px;
  gap: 20px;
}


.logo{
  position: relative;
  font-size: 25px;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards ;
  font-size: 35px;
}

.myimg{
    margin: 160px;
    height: 400px;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    border-radius: 100px;
}


.content{
  display: flex;
  flex-direction: column;
}